* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: crimson;
    color: black;
    padding: 5rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    padding-bottom: 1rem;
}